

.btn-box {
    width: 100px;
    background-color: white;
    color: #2C889C;
    border-radius: 10px;
    border: #2C889C 2px solid;
    margin: 10px;
}

.add-note {
    left: 600px; 
    margin-top: 1%;
    width: 150px;
    background-color: #2C889C;
    color: white;
    border-radius: 10px;
    border: #333 2px solid;
}   