.section-1 {
    background-color: rgb(236, 200, 244);
}

.welcome-box {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 10px;
}

.welcome-section {
    display: flex;
    text-align: start;
    padding: 10px;
}