.navbar {
    background-color: #fFFFFF;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.content-container {
    display: flex;
}

.tasks-container {
    width: 200px;
    background-color: #fFFFFF;
    border-right: 1px solid #ccc;
    padding: 20px;
    border-top: 1px solid #ccc;
}

.tasks-container h2 {
    margin-top: 0;
}

.calendar-container {
    flex-grow: 1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #f0f5ff;
}

.custom-day {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.custom-day:hover {
    background-color: #cce6ff;
}



.tasks-container ul li.selected {
    background-color: #cce6ff;
    color: #333;
}

.tasks-container ul li.selected:hover {
    background-color: #cce6ff;
}
