.notes-app {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  width: 100%;
}

.category-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.category-btn {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 2px solid #2c889c;
  border-radius: 5px;
  color: #2c889c;
  cursor: pointer;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-right: 50px;
}

.category-btn:hover {
  background-color: #87d3e4;
  font-size: 15px !important;
}

.category-btn.active {
  background-color: #2c889c;
  color: white;
}

.add-note-form {
margin-left: -250px !important; 
}

.add-note-form input[type="text"],
.add-note-form textarea,
.add-note-form select {
  width: 100%;
  height: 10%;
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.add-note-form {
  height: 300px;
  margin-left: -400px;
}

.add-note-btn {
  padding: 10px 20px;
  background-color: #2c889c;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.add-note-btn:hover {
  background-color: #2c6c7f;
  font-size: 15px;
}

.notes-container {
  margin-top: 20px;
  margin-left: 400px;
  width: 100%;
  padding: 10px;
}

.note {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.category-select {
  width: 120px;
  height: 500px;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.category-select:hover {
  font-size: 15px !important;
}

.select-note-type {
  margin-top: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.select-note-type:hover {
  background-color: #dfdab4;
}

.add-note-btn {
  height: 50px;
  width: 120px;
  margin-top: 20px;
  margin-left: 100px;
  transition: all 0.5s ease;
}

.add-note-btn:hover {
  background-color: #dfdab4;
  font-size: 15px;
  width: 150px;
}

.category-add-note {
  display: flex;
}

.motivational-words {
  /* border: 3px solid #2c6c7f; */
  font-size: 40px;
  box-shadow: 8px 2px 10.1px 1px #bae1ed, 0px 0px 6.3px 0.5px #f2e296;
  height: 500px;
  width: 400px;
  color: #87c6d8;
}

.edit-delete-box {
  display: flex;
  flex-direction: column;
  margin-left: 650px;
  gap: 10px;
  margin-top: -38px;
  padding: 3px;
}

.edit-delete-btns {
  background-color: #5c8997;
  color: rgb(253, 237, 237);
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.edit-delete-btns:hover {
  background-color: #5d95a6;
  transform: scaleY(1.2);
}
