
.container {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(156.59deg, #FFFFFF 31.55%, #7DB2AC 108.93%);
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.left {
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px;
}

.right {
    right: 0;
}

.row {
    position: relative;
}

.bottom-row {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

@keyframes slideLeftToRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-left-to-right {
    animation: slideLeftToRight 1s ease forwards;
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-slide-up {
    animation: slideUp 1s ease forwards;
}


.animate-text {
    overflow: hidden;
    white-space: nowrap;
    animation: typing 3s steps(40, end);
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
form{
    height: 520px;
    width: 400px;
    background-color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

form *{
    font-family: 'Poppins',sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form-group input {
    border: 1px solid #7FC991;
}

.text_area{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 22px;
    margin-bottom: 35px;
    width: 80%;
    height: 64px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #7FC991;

}

.text_input {
    font-family: 'Montserrat regular';
    font-size: 20px;
    width: 80%;
    color: #7FC991;

}


.btn{
    width: 165px;
    height: 60px;
    border-radius: 30px;
    border: none;
    font-family: 'Montserrat';
    font-size: 20px;
    color: #FFFFFF;
    /*box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);*/
    cursor: pointer;
    background: #7FC991;
}



@keyframes slideRightToLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.animate-slide-right-to-left {
    animation: slideRightToLeft 1s ease forwards;
}


