.typing-animation {
    margin-top: 15%;
    display: inline-block;
    width: 30%;
  }
  
  .typing-animation > span {
    display: block;
    white-space: normal; 
    animation: typing 1s steps(40, end);
    border-right: 2px solid transparent; 
    font-size: 44px; 
    font-family: monospace
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  